<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <center>
<div class="spacer ic-selected" data-componentid="spacer9" style="height: 63px; width: 300px;" data-tap-disabled="true"></div>
    <img src="../img/profile.png" width="100px"><br>
    </center>

<div class="spacer ic-selected" data-componentid="spacer9" style="height: 100px;" data-tap-disabled="true"></div>

    <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Dados Pessoais
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Ligar para SAMU
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album

        <span class="badge badge-assertive">0</span>

  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-settings"></i>
    configuracao

  </a>

</div>
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
