<ion-view view-title="Informações">
  <div class="bar bar-subheader">
    <p>Aviso: Conteúdo não é válido para diagnósticos. Consulte um medico para um tratamento efetivo</p>
  </div>
  <ion-content style="top: 90px; height: 100%; padding: 4px; text-align: justify;">
    <p style="font-weight: bold;">What is apnea?</p>

      <p>Apnea means not breathing. In OSA, you may stop breathing for short periods of time. Even when you are trying to breathe, there may be little or no airflow into the lungs. These pauses in airflow (obstructive apneas) can occur off and on during sleep, and cause you to wake up from a sound sleep. Frequent apneas can cause many problems. With time, if not treated, serious health problems may develop.

      OSA is more common in men, women after menopause and people who are over the age of 65. OSA can also occur in children. There are several groups of people who are particularly at risk for developing OSA. People who are overweight are more likely to develop sleep apnea. OSA can occur in people who have large tonsils or adenoids. OSA can also run in families of people of normal size and in people with certain types of jaw problems. People with these jaw problems have difficulty keeping the back of their throat open. Some of these conditions are called micrognathia (a small jaw) and retrognathia (a pulled back jaw).
</p>
  </ion-content>
</ion-view>
