<ion-view view-title="HYPSON">

  <ion-content class="padding">


    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular-ui-clock/dist/angular-clock.min.js"></script>

<link rel="stylesheet" href="../lib/angular-ui-clock/dist/angular-clock.css">
<link href='//fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
<div class="home">
  <center>
<br>

<ds-widget-clock start-time="startTimeValue"></ds-widget-clock><br>
<a class="button icon-right ion-chevron-right button-calm">Start</a>
</div>
  </ion-content>

</ion-view>
