<ion-view title="Estatistica">
  <ion-content>
    <div class="item item-divider">
  <img src="../img/Tempo2.jpg" width="100%">

  <button class="button button-block button-positive">
  Enviar o relatorio
</button>
</div>
<div class="list card">

  <div class="item item-avatar">
    <img src="../img/doutor.jpg">
    <h2>Recomendacoes</h2>
    <p>Doutor Marcos</p>
  </div>

  <div class="item item-body">
    <p>
      Beber mais agua.
      Comer mais Fruta.
      Fazer exercicios.
    </p>

  </div>

</div>
  </ion-content>
</ion-view>
