.view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bgdegrade {
  background:url(../img/123.jpg) repeat-y 0 0;
  position:inherit;
  overflow: auto;
}

.active {
  border-color: #e42112 !important;
  background-color: #ef473a !important;
  color: #fff !important;
}

.bar-subheader {
  background-color: #ef473a;
  color: white;
  margin-bottom: 1rem;
}
